body {
    background-color: #f3f2f1;
}

.book-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
}

.book-info__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.book-info__image img {
    width: 50%;
    max-height: 540px;
    box-shadow:
      inset 0 0 0 0 #f3f2f1,
      0.5em 0.5em 1em rgba(56, 56, 56, 0.3);
    background-color: yellow;
}

.book-info__container{
    width: 55%;
    min-height: 540px;
    background-color: #ffffff;
}

.book-info__text{
    padding-left: 7%;
    padding-top: 7%;
}

.book-info__category{
    font-family: 'Myriad Pro Light';
    font-size: 18px;
}

.book-info__name{
    padding-top: 32px;
    font-family: 'Myriad Pro Semibold';
    font-size: 30px;
}

.book-info__author{
    padding-top: 10px;
    color: #a1a1a1;
    text-decoration: underline;
    font-family: 'Myriad Pro Light';
    font-size: 18px;
}

.book-info__description{
    margin-top: 32px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-left: 20px;
    padding-bottom: 18px;
    min-height: 188px;
    outline: auto;
    outline-width: 1px;
    outline-color: #e1e1e1;
    outline-style: solid;
    outline-offset: 1;
    font-family: 'Myriad Pro Semibold';
    font-size: 18px;
}