body {
  background-color: #f3f2f1;
}

.book-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100px;
}

@media only screen and (min-width:540px) {  
  .book-info__category {
    font-family: 'Myriad Pro Light';
    font-size: 18px;
  }
  
  .book-info__name {
    padding-top: 32px;
    font-family: 'Myriad Pro Semibold';
    font-size: 30px;
  }
  
  .book-info__author {
    padding-top: 10px;
    color: #a1a1a1;
    text-decoration: underline;
    font-family: 'Myriad Pro Light';
    font-size: 18px;
  }
  
  .book-info__description {
    margin-top: 32px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 18px;
    min-height: 188px;
    outline: auto;
    outline-width: 1px;
    outline-color: #e1e1e1;
    outline-style: solid;
    outline-offset: 1;
    font-family: 'Myriad Pro Semibold';
    font-size: 18px;
  }

  .book-info__image img {
    max-height: 540px;
  }
}

@media only screen and (max-width:540px) {
  .book-info__category {
    font-family: 'Myriad Pro Light';
    font-size: 14px;
  }
  
  .book-info__name {
    padding-top: 32px;
    font-family: 'Myriad Pro Semibold';
    font-size: 24px;
  }
  
  .book-info__author {
    padding-top: 10px;
    color: #a1a1a1;
    text-decoration: underline;
    font-family: 'Myriad Pro Light';
    font-size: 14px;
  }
  
  .book-info__description {
    margin-top: 32px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 18px;
    min-height: 188px;
    outline: auto;
    outline-width: 1px;
    outline-color: #e1e1e1;
    outline-style: solid;
    outline-offset: 1;
    font-family: 'Myriad Pro Semibold';
    font-size: 14px;
  }

  .book-info__image img {
    max-height: 330px;
  }
}

.book-info__image {
  display: flex;
  justify-content: center;
  width: 45%;
}

.book-info__image img {
  scale: 0.5;
  box-shadow:
    inset 0 0 0 0 #f3f2f1,
    0.5em 0.5em 1em rgba(56, 56, 56, 0.3);
  background-color: rgb(144, 154, 163);
}

.book-info__container {
  width: 55%;
  min-height: 540px;
  background-color: #ffffff;
}

.book-info__text {
  padding-left: 7%;
  padding-top: 7%;
}

.loading {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  margin-top: 80px;
  background: url(../../assets/images/loading.gif) no-repeat top center;
  background-size: 100%;
}

.book-card__collection {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  flex-wrap: wrap;
  column-gap: 3%;
  min-height: 200px;
}