@font-face {
    font-family: "Myriad Pro Semibold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Semibold Italic"),
      url("../src/fonts/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}
  
@font-face {
    font-family: "Myriad Pro Bold Condensed";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Bold Condensed"),
      url("../src/fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}
  
@font-face {
    font-family: "Myriad Pro Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Bold"),
      url("../src/fonts/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro Light";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Light"),
      url("../src/fonts/MyriadPro-Light.woff") format("woff");
}
  
@font-face {
    font-family: "Myriad Pro Semibold";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Semibold"),
      url("../src/fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

body {
    margin: 0;
  }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../src/images/headerBG.png") no-repeat fixed top center;
    background-size:cover;
    height: 220px;
    margin: auto;
}

.header-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52%;
}

.link { 
  text-decoration: none; 
  color: black;
}

.header-text .link {
    color: white;
}

.header-text {
    font-family: "Myriad Pro Semibold";
    font-size: 48px;
    margin: 20px;
}

.header-options input, select {
    font-family: "Myriad Pro Semibold";
    border: none;
    outline: none;
    padding-left: 8px;
    font-size: 18px;
    height: 32px;
}

.options-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.options-search i{
    position: absolute;
    top: 3px;
    right: 7%;
}

.options-search input{
    width: 87%;
    margin-bottom: 20px;
}

.options-search input:focus {
    outline: none;
}

.search-icon {
    background: url(../src/images/lupa.png) no-repeat top center;
    background-size: 100%;
    width: 26px;
    height: 26px;
}

.options-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
}

.options-filters div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.options-filters span {
    font-family: "Myriad Pro Semibold";
    font-size: 18px;
    white-space: nowrap;
    color: white;
    margin-right: 6px;
}

.header-options select {
    min-width: 96px;
    max-width: 200px;
    font-size: 16px;
    width: 67%;
    color: gray;
}

.books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.books-found {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    font-family: "Myriad Pro Semibold";
    padding-bottom: 27px;
}

.book-card__collection {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
    column-gap: 3%;
}

.book-card {
    font-family: "Myriad Pro Semibold";
    width: 232px;
    height: 352px;
    margin-bottom: 26px;
    background-color: #f3f2f1;
}

.book-card__info {
    margin: 0 14px;
}

.book-card__image {
    margin: auto;
    box-shadow: inset 0 0 0 0 #f3f2f1,
     0.5em 0.5em 1em rgba(56, 56, 56, 0.3);
    background-color: yellow;
    width: 120px;
    height: 174px;
    margin-top: 30px;
    margin-bottom: 24px;
}

.book-card__category, .book-card__name {
    margin-bottom: 6px;
}

.book-card__category, .book-card__author {
    text-align: left;
    font-family: "Myriad Pro Light";
    color: rgb(160, 160, 160);
}

.book-card__category {
    text-decoration: underline;
}